.navbar-icon{
    margin: 16px 64px 16px 16px;
    margin-left: 75%;
}

.mat-toolbar{
    box-shadow: 0px 0px 1px #3d3d3d;
    background-color:  #811434;
;
}

.spaceBetween{
    margin-right: 9%;
}

.label-color{
    color: white;
}